# Local Properties
/build.properties
/.classpath

# Compiled Files
/bin/
*.class

# Package Files
*.jar
*.war
*.ear

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Settings
.settings/

sysProps.xml
/bin/
/NetworkServer.java
